<div fxLayout="column" fxLayoutAlign=" center">
    <div class="afiliar-title" fxLayout="row">
        <button (click)="regresar()" class="button-white" mat-button>
            <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_back</mat-icon>
        </button>
        <h1>{{evento.title}}</h1>
    </div>
</div>
<div class="form">
    
    <form fxLayout="column" (ngSubmit) = "editEvento()" #form="ngForm"> 
        <div fxLayout="row" fxLayoutAlign="space-between ">
            <h2 class="tit1">Datos básicos: </h2>
            <div>
                <button class="btn-edit" mat-button type="button" (click)="cambiarEditable()">
                    Editar
                    <mat-icon aria-hidden="false" aria-label="edit">edit</mat-icon>
                </button>
            </div>
        </div>
        <div fxLayout="column">
            <label class="label" for="title">Titulo*</label>
            <input 
                [disabled]="!editable" 
                class="input" 
                id="title" 
                name="title" 
                type="text" 
                [(ngModel)]="evento.title"
                required
                #tit="ngModel"
            >
            <div *ngIf="tit.touched && tit.errors">
                Error, campo requerido
            </div>
        </div>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between ">
            <div fxLayout="column">
                <label class="label" for="allDay">¿Evento dura todo el día?:</label>
                <input 
                    [disabled]="!editable" 
                    class="input" 
                    id="allDay" 
                    name="allDay" 
                    type="checkbox" 
                    [(ngModel)]="evento.allDay"
                    #allday="ngModel"
                >
            </div>
            <div fxLayout="column">
                <label class="label" for="color">Color</label>
                <input 
                    [disabled]="!editable"
                    class="input" 
                    id="color" 
                    name="color" 
                    type="color" 
                    [(ngModel)]="evento.color"
                >
            </div>
        </div>
        <div fxLayout="column">
            <label class="label" for="descripcion">Descripción*</label>
            <input 
                [disabled]="!editable"
                class="input" 
                id="descripcion" 
                name="descripcion" 
                type="text" 
                [(ngModel)]="evento.descripcion"
                required
                #desc="ngModel"
            >
            <div *ngIf="desc.touched && desc.errors">
                Error, campo requerido
            </div>
        </div>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between ">
            <div fxLayout="column" fxFlex="48">
                <label class="label" for="lugar">Lugar*</label>
                <input 
                    [disabled]="!editable"
                    class="input" 
                    id="lugar" 
                    name="lugar" 
                    type="text" 
                    [(ngModel)]="evento.lugar"
                    required
                    #lugar="ngModel"
                >
                <div *ngIf="lugar.touched && lugar.errors">
                    Error, campo requerido
                </div>
            </div>
            <div fxLayout="column" fxFlex="48">
                <label class="label" for="presupuesto">Presupuesto (genera una transacción)</label>
                <input 
                    class="input" 
                    [disabled]="!editable"
                    id="presupuesto" 
                    name="presupuesto" 
                    type="number" 
                    min="0" 
                    step=".01" 
                    [(ngModel)]="evento.presupuesto"
                >
            </div>
        </div>
        <h2 class="tit1 margin-top">Responsables: </h2>
        <div fxLayout="column">
            <label class="label" for="responsables">Responsable 1: </label>
            <select 
                name="responsables" 
                id="responsables" 
                [(ngModel)]="responsables.resp1"
                [disabled]="!editable"
                #resp1
            >
                <option value=""></option>
                <option *ngFor="let autoridad of autoridades" value="{{autoridad}}">{{autoridad}}</option>
            </select>
        </div>
        <div *ngIf="resp1.value !== ''">
            <div fxLayout="column">
                <label class="label" for="responsables2">Responsable 2: </label>
                <select 
                    name="responsables2" 
                    id="responsables2" 
                    [(ngModel)]="responsables.resp2"
                    [disabled]="!editable"
                    #resp2
                >
                    <option *ngFor="let autoridad of autoridades" value="{{autoridad}}">{{autoridad}}</option>
                    <option value=""> </option>
                </select>
            </div>
            <div fxLayout="column" *ngIf="resp2.value !== ''">
                <label class="label" for="responsables3">Responsable 3: </label>
                <select 
                    
                    name="responsables3" 
                    id="responsables3" 
                    [(ngModel)]="responsables.resp3"
                    [disabled]="!editable"
                >
                    <option *ngFor="let autoridad of autoridades" value="{{autoridad}}">{{autoridad}}</option>
                    <option value=""> </option>
                </select>
            </div>
        </div>

        <h2 class="tit1 margin-top">Horarios: </h2>
        <div fxLayout="column">
            <label class="label" for="tipo">Tipo: </label>
            <select 
                [disabled]="!editable"
                name="tipo" 
                id="tipo" 
                #tipo
                [(ngModel)]="evento.tipo"
            >
                <option value="Evento">Evento único</option>
                <option value="Recursivo">Evento recursivo</option>
                <option value="Club">Club</option>
                <option value="Curso">Curso</option>
            </select>
        </div>

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between " *ngIf="evento.tipo === 'Evento'">
            <div fxLayout="column" fxFlex="48">
                <label class="label" for="start">Inicio*</label>
                <input 
                    class="input" 
                    [disabled]="!editable"
                    id="start" 
                    name="start" 
                    type="datetime-local" 
                    [max]="end.value"
                    [(ngModel)]="evento.start"
                    required
                    #inicio="ngModel"
                >
                <div *ngIf="inicio.touched && inicio.errors">
                    Error, campo requerido
                </div>
            </div>
            <div fxLayout="column" fxFlex="48">
                <label class="label" for="end">Fin*</label>
                <input 
                    class="input" 
                    [disabled]="!editable"
                    id="end" 
                    name="end" 
                    type="datetime-local" 
                    [(ngModel)]="evento.end"
                    [min]="inicio.value"
                    required
                    #end="ngModel"
                >
                <div *ngIf="end.touched && end.errors">
                    Error, campo requerido
                </div>
            </div>
        </div>
        <div *ngIf="evento.tipo !== 'Evento'">
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between ">
                <div fxLayout="column" fxFlex="48" >
                    <label class="label" for="startRecur">Fecha de Inicio*</label>
                    <input 
                        class="input" 
                        [disabled]="!editable"
                        id="startRecur" 
                        name="startRecur" 
                        type="date" 
                        [max]="endDate.value"
                        [(ngModel)]="evento.startRecur"
                        #inicioDate="ngModel"
                    >
                    <div *ngIf="inicioDate.touched && inicioDate.errors">
                        Error, campo requerido
                    </div>
                </div>
                <div fxLayout="column" fxFlex="48">
                    <label class="label" for="endRecur">Fecha del Fin*</label>
                    <input 
                        class="input" 
                        [disabled]="!editable"
                        id="endRecur" 
                        name="endRecur" 
                        type="date" 
                        [(ngModel)]="evento.endRecur"
                        [min]="inicioDate.value"
                        #endDate="ngModel"
                    >
                    <div *ngIf="endDate.touched && endDate.errors">
                        Error, campo requerido
                    </div>
                </div>
            </div>
            <div class="label">
                Días de la semana*: 
            </div>
            <div fxLayout="row" fxLayout.lt-md="column">
                <div class="group-day" fxLayout="column">
                    <label class="label" for="lunes">Lunes</label>
                    <input 
                        id="lunes" 
                        [disabled]="!editable"
                        name="lunes" 
                        type="checkbox" 
                        [(ngModel)]="dias.lunes"
                    >
                </div>
                <div class="group-day" fxLayout="column">
                    <label class="label" for="martes">Martes</label>
                    <input 
                        id="martes" 
                        [disabled]="!editable"
                        name="martes" 
                        type="checkbox" 
                        [(ngModel)]="dias.martes"
                    >
                </div>
                <div class="group-day" fxLayout="column">
                    <label class="label" for="miercoles">Miercoles</label>
                    <input 
                        id="miercoles" 
                        [disabled]="!editable"
                        name="miercoles" 
                        type="checkbox" 
                        [(ngModel)]="dias.miercoles"
                    >
                </div>
                <div class="group-day" fxLayout="column">
                    <label class="label" for="jueves">Jueves</label>
                    <input 
                        id="jueves" 
                        [disabled]="!editable"
                        name="jueves" 
                        type="checkbox" 
                        [(ngModel)]="dias.jueves"
                    >
                </div>
                <div class="group-day" fxLayout="column">
                    <label class="label" for="viernes">Viernes</label>
                    <input 
                        id="viernes" 
                        [disabled]="!editable"
                        name="viernes" 
                        type="checkbox" 
                        [(ngModel)]="dias.viernes"
                    >
                </div>
                <div class="group-day" fxLayout="column">
                    <label class="label" for="sabado">Sabado</label>
                    <input 
                        id="sabado" 
                        [disabled]="!editable"
                        name="sabado" 
                        type="checkbox" 
                        [(ngModel)]="dias.sabado"
                    >
                </div>
                <div class="group-day" fxLayout="column">
                    <label class="label" for="domingo">Domingo</label>
                    <input 
                        id="domingo" 
                        [disabled]="!editable"
                        name="domingo" 
                        type="checkbox" 
                        [(ngModel)]="dias.domingo"
                    >
                </div>
            </div>
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between " *ngIf="allday.value === false">
                <div fxLayout="column" fxFlex="48">
                    <label class="label" for="startTime">Hora de Inicio*</label>
                    <input 
                        class="input" 
                        [disabled]="!editable"
                        id="startTime" 
                        name="startTime" 
                        type="time" 
                        [(ngModel)]="evento.startTime"
                        [max]="endTime.value"
                        required
                        #startTime="ngModel"
                    >
                    <div *ngIf="startTime.touched && startTime.errors">
                        Error, campo requerido
                    </div>
                </div>
                <div fxLayout="column" fxFlex="48">
                    <label class="label" for="endTime">Hora de Fin*</label>
                    <input 
                        class="input" 
                        [disabled]="!editable"
                        id="endTime" 
                        name="endTime" 
                        type="time" 
                        [min]="startTime.value"
                        [(ngModel)]="evento.endTime"
                        #endTime="ngModel"
                    >
                    <div *ngIf="endTime.touched && endTime.errors">
                        Error, campo requerido
                    </div>
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="end ">
            <div *ngIf="editable" fxFlex="50">
                <button mat-button type="submit" class="button" [disabled]="!form.form.valid">
                    Editar evento
                </button>
            </div>
            <div>
                <button mat-button type="button" class="button" (click)="delete()">
                    <mat-icon aria-hidden="false" aria-label="delete">delete</mat-icon>
                </button>
            </div>
        </div>
        
    </form>
</div>
<div>
    *Campos obligatorios
</div>