.afiliar-title {
    background-color: #0d288a;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    h1{
        margin: 25px;
        color: white;
    }
    .button-white{
        color: white;
    }
}

.informacion {
    margin: 50px;
    width: 50%;
}

.group {
    margin: 20px 0;
    
}

.title {
    color: #0d288a
}

.icons {
    width: 100%;
    button {
        background-color: #0d288a;
        color: white;
        padding: 10px 50px;
    }
    div{
        margin: 50px 50px 50px 0;
    }
}

.line {
    border-top: 1px solid gray;
    margin: 0 50px;
}
