@import "../../../../assets/css/colors.scss";

.dato {
    margin: 10px 10px 10px 0;
    .titulo {
        font-weight: 500;
    }
}

.button {
    background-color: white;
    color: $MainColor;
}

.button:focus {
    outline: 0px;
}

.deuda {
    color: $MainColor;
}

