label {
    margin: 20px 0;
    font-size: 130%;
    color: #0D288A;
    font-weight: 500;
}

input {
    padding: 10px;
    border: none;
}

form {
    width: 60%;
    margin: 50px auto;
}

button {
    background-color: #294FD7;
    color: white;
    margin: 60px auto;
    width: 200px;
}