@import "../../../../assets/css/colors.scss";
.box {
    margin: 10px;
    display: inline-block;
}

.main {
    margin-top: 100px;
    text-align: center;
}


.add-title {
    background-color: $MainDarkColor;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    h1 {
        margin: 25px;
        color: white;
    }
    h2 {
        margin: 10px;
        color: white;
    }
    .button-white {
        color: white;
    }
}

@import "../../../../assets/css/colors.scss";

.icon-box {
    height: 200px;
    width: 200px;
    background-color: $MainDarkColor;
    color: white;
}

.text {
    font-size: 120%;
}

.icon {
    font-size: 250%;
    margin: 20px 0;
}