<div>
    <app-titles [text]="contrato.id" regresarA="/contratos"></app-titles>
</div>
<div>
    <button mat-button type="button" (click)="cambiarEditable()">
        Editar
        <mat-icon aria-hidden="false" aria-label="Edit">edit</mat-icon>
    </button>
</div>
<div class="form">
    <form (ngSubmit)="editar()">
        
        <div fxLayout="column">
            <label for="id">Nombre:</label>
            <input type="text" id="id" name="id" [disabled]="!editable" maxlength="50" [(ngModel)]="contrato.id">
        </div>
        <div fxLayout="column">
            <label for="descripcion">Descripción:</label>
            <input type="text" id="descripcion" name="descripcion" [disabled]="!editable" [(ngModel)]="contrato.descripcion">
        </div>
        <div fxLayout="column">
            <label for="interesados">Interesados:</label>
            <input type="text" id="interesados" name="interesados" [disabled]="!editable" [(ngModel)]="contrato.interesados">
        </div>
        <div fxLayout="column">
            <label for="fechaInicial">Fecha inicial:</label>
            <input type="date" id="fechaInicial" name="fechaInicial" [disabled]="!editable" [(ngModel)]="fechaInicial">
        </div>
        <div fxLayout="column">
            <label for="fechaFinal">Fecha final:</label>
            <input type="date" id="fechaFinal" name="fechaFinal" [disabled]="!editable" [(ngModel)]="fechaFinal">
        </div>
        
        <div>
            <button mat-button type="submit" [disabled]="!editable">
                Editar
                <mat-icon aria-hidden="false" aria-label="Edit">edit</mat-icon>
            </button>
            <button class="deleteBTN" mat-button type="button" (click)="eliminar()">
                Eliminar
                <mat-icon aria-hidden="false" aria-label="Delete">delete</mat-icon>
            </button>
        </div>
    </form>
</div>