<h1 mat-dialog-title>{{estudiante.Nombre}} {{estudiante.Apellido}}</h1>
<div mat-dialog-content>

        <div fxLayout="row">
            <div fxFlex="50" class="dato">
                <div class="titulo">Cedula </div>
                <div>{{estudiante.id}}</div>
            </div>
    
            <div class="dato">
                <div class="titulo">No. Único </div>
                <div>{{estudiante.NoUnico}}</div>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex="50" class="dato">
                <div class="titulo">Carrera </div>
                <div>{{estudiante.Carrera}}</div>
            </div>
    
            <div class="dato">
                <div class="titulo">Semestre Referencial </div>
                <div>{{estudiante.SemestreReferencial}}</div>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex="50" class="dato">
                <div class="titulo">Correo Institucional </div>
                <div>{{estudiante.CorreoInstitucional}}</div>
            </div>
    
            <div class="dato">
                <div class="titulo">Correo Personal </div>
                <div>{{estudiante.CorreoPersonal}}</div>
            </div>
        </div>
  
        <div fxLayout="row">
            <div fxFlex="50" class="dato">
                <div class="titulo">Genero </div>
                <div>{{estudiante.Genero}}</div>
            </div>
    
            <div class="dato">
                <div class="titulo">Sexo </div>
                <div>{{estudiante.Sexo}}</div>
            </div>
        </div>
  
        <div fxLayout="row">
            <div fxFlex="50" class="dato">
                <div class="titulo">Sector Domiciliario </div>
                <div>{{estudiante.SectorDomiciliario}}</div>
            </div>
    
            <div class="dato">
                <div class="titulo">Número de Teléfono </div>
                <div>{{estudiante.Telefono}}</div>
            </div>
        </div>

        <div class="dato">
            <div class="titulo">Fecha de Nacimiento </div>
            <div>{{estudiante.FechaNacimiento}}</div>
        </div>

</div>
<div mat-dialog-actions>
    <button class="button" (click)="afiliarEstudiante()" mat-button [disabled] = "estudiante.EstadoAfiliacion">
        <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
    </button>
    <button class="button" (click)="actualizarEstudiante()" mat-button>
        <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
    </button>
    <button class="button" mat-button>
        <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
    </button>
</div>