@import "../../../../assets/css/colors.scss";

.icon-box {
    height: 200px;
    width: 200px;
    background-color: $MainDarkColor;
    color: white;
}

.text {
    font-size: 120%;
}

.icon {
    font-size: 250%;
    margin: 20px 0;
}

.icon-box:hover {
    background-color: rgb(0, 16, 87);
}