.afiliar-title {
    background-color: #0d288a;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    h1{
        margin: 25px;
        color: white;
    }
    .button-white{
        color: white;
    }
}

.form {
    width: 60%;
    margin-top: 30px;
}

.label {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 130%;
    color: #0d288a;
}

.input, select {
    padding: 8px;
}

.button {
    background-color: #0d288a;
    color: white;
    margin: 50px 0 60px 0;
    padding: 10px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.group-day {
    margin-right: 40px;
}

.button:disabled {
    color: white;
    background-color: #4f5c8d;
}

.tit1 {
    color: #0d288a;
    font-weight: 500;
    font-size: 160%;
}

.margin-top {
    margin-top: 80px;
}
