.top-bar {
    height: 60px;
    border-bottom: #606060 1px solid;
}

hr {
    background-color: yellowgreen;
}

.line {
    height: 94vh;
    border-right: 1px solid #606060;
}

.but-cargar-financiero {
    background-color: #0D288A;
    color: white;
    margin: 0 20px;
    width: 150px;
}

.div-financiero {
    margin: 2% 7%;
}