.afiliar-title {
    background-color: #0d288a;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    h1{
        margin: 25px;
        color: white;
    }
    .button-white{
        color: white;
    }
}
