.line {
    border-right: 1px solid #606060;
}

.but-cargar-estudiantes {
    background-color: #294fd7;
    color: white;
    margin-bottom: 30px;
}

.div-estudiantes {
    margin: 2% 7%;
}

.top-bar {
    padding: 0 7% 0 1%;
    border-bottom: 1px #606060 solid;
}

.btn-cargararchivo {
    margin: 8px;
    background-color: #0D288A;
    padding: 6px 20px;
    color: white;
}

.registros-mostrados {
    color: #0D288A;
    font-size: 110%;
    font-weight: 500;
}