<h1 mat-dialog-title>{{recurso.id}} | {{recurso.nombre}}</h1>
<div mat-dialog-content>

    <div fxLayout="row">
        <div fxFlex="50" class="dato">
            <div class="titulo">Nombre </div>
            <div>{{recurso.nombre}}</div>
        </div>
        
        <div class="dato">
            <div class="titulo">Id </div>
            <div class="dato">{{recurso.id}}</div>
        </div>
        
    </div>

    <div fxLayout="row">
        <div *ngIf="recurso.estado" fxFlex="50" class="dato">
            <div class="titulo">Estado </div>
            <div>{{recurso.estado}}</div>
        </div>
        <div *ngIf="recurso.descripcion" fxFlex="50" class="dato">
            <div class="titulo">Descripcion </div>
            <div>{{recurso.descripcion}}</div>
        </div>
    </div>

    <div fxLayout="row">
        <div *ngIf="recurso.condicion" fxFlex="50" class="dato">
            <div class="titulo">Condicion </div>
            <div>{{recurso.condicion}}</div>
        </div>

        <div *ngIf="recurso.tipo" class="dato">
            <div class="titulo">Tipo </div>
            <div>{{recurso.tipo}}</div>
        </div>
    </div>

    <div fxLayout="row">
        <!-- <div *ngIf="recurso.ubicacion" fxFlex="50" class="dato">
            <div class="titulo">Ubicacion </div>
            <div>{{recurso.ubicacion}}</div>
        </div> -->

        <div *ngIf="recurso.valor" fxFlex="50" class="dato">
            <div class="titulo">Valor</div>
            <div>{{recurso.valor}}</div>
        </div>

        <div *ngIf="recurso.valor" class="dato">
            <div class="titulo">Filial</div>
            <div>{{recurso.idfilial}}</div>
        </div>
    </div>

    <div *ngIf="recurso.fotos" class="dato">
        <div class="titulo">Fotos </div>
        <div>{{recurso.fotos}}</div>
    </div>
</div>
<hr>
<div mat-dialog-actions>
    
    <button class="button" [routerLink]="['/recursos/actualizar', recurso.id]" (click)="cerrarDialog()" mat-button>
        <mat-icon aria-hidden=" false" aria-label="Example home icon">edit</mat-icon>
    </button>
    <button class="button red" mat-button (click)="darDeBaja()">Baja</button>
    
</div>
