<div fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex="20" fxFlex.md="30" fxFlex.lt-md="auto" fxLayout="column">
        <app-filtros-estudiantes (eventEmitter)="estudiantesMostrados=$event" [estudiantes]="estudiantes"></app-filtros-estudiantes>
    </div>
    
    <div class="line" fxHide.lt-md></div>

    <div fxFlex="80" fxFlex.md="70" fxFlex.lt-md="auto" fxLayout="column" class="div-estudiantes" >
        <div fxLayoutAlign="end ">
            <button (click)="openDialog()" class="but-cargar-estudiantes" mat-button fxLayoutAlign="start center">
                Cargar estudiantes
            </button>
        </div>
    
        <div fxLayout="column">
            <app-listar-estudiantes [estudiantes]="estudiantesMostrados"></app-listar-estudiantes>
        </div>
    </div>
</div>