.line {
    height: 94vh;
    border-right: 1px solid #606060;
}

.but-cargar-estudiantes {
    background-color: #294fd7;
    color: white;
    margin-bottom: 30px;
}

.div-estudiantes {
    margin: 2% 7%;
}