<div fxLayout="row">
    <div fxFlex="20" fxLayout="column">
        <app-filtros-estudiantes (eventEmitter)="estudiantesMostrados=$event" [estudiantes]="estudiantes"></app-filtros-estudiantes>
    </div>
    
    <div class="line"></div>

    <div fxFlex="80" fxLayout="column" class="div-estudiantes" >
        <div fxLayoutAlign="end ">
            <button class="but-cargar-estudiantes" mat-button fxLayoutAlign="start center">
                Cargar estudiantes
                <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_drop_down</mat-icon>
            </button>
        </div>
    
        <div FxFlex="80" fxLayout="column">
            <app-listar-estudiantes [estudiantes]="estudiantesMostrados"></app-listar-estudiantes>
        </div>
    </div>
</div>