<div fxLayout="row">
    <div fxFlex="20" fxLayout="column">
        <app-filtros-estudiantes (eventEmitter)="estudiantesMostrados=$event" [estudiantes]="estudiantes"></app-filtros-estudiantes>
    </div>
    
    <div class="line"></div>

    <div class="div-estudiantes" FxFlex="80" fxLayout="column">
        <div fxLayoutAlign="end ">
            <button class="but-cargar-estudiantes" mat-button fxLayoutAlign="start center">
                Cargar estudiantes
                <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_drop_down</mat-icon>
            </button>
        </div>
        <div class="students-area">
            <div *ngFor="let estudiante of estudiantesMostrados; let i = index" class="card">
                <mat-card fxLayout="row" fxLayoutAlign=" center">
                    <div fxLayout="column" fxLayoutAlign="center start" fxFlex="30">
                        <div class="nombre">{{estudiante.Nombre}} {{estudiante.Apellido}}</div>
                        <div>{{estudiante.NoUnico}}</div>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center start" fxFlexOffset="10" fxFlex="20">
                        <div>{{estudiante.Carrera}}</div>
                        <div>{{estudiante.SemestreReferencial}} semestre</div>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center start" fxFlex="20">
                        <div>{{estudiante.SectorDomiciliario}}</div>
                        <div>{{estudiante.Telefono}}</div>
                    </div>

                    <div fxLayour="row" fxLayoutAlign="start center" fxFlex="10">
                        <div *ngIf="estudiante.EstadoAfiliacion; else noafiliado" fxLayoutAlign="start center">
                            <div style="color: #37AA42;">Afiliado</div>
                            <mat-icon style="color: #37AA42;" class="add-circle-icon" aria-hidden="false"
                                aria-label="Example home icon">check_circle</mat-icon>
                        </div>
                        <ng-template #noafiliado>
                            <div style="color: #294FD7;">No afiliado</div>
                            <mat-icon style="color: #294FD7;" class="add-circle-icon" aria-hidden="false"
                                aria-label="Example home icon">add_circle</mat-icon>
                        </ng-template>
                    </div>

                    <div fxLayoutAlign="end " fxFlex="auto">
                        <button fxLayoutAlign="center " class="button-add-icon" mat-button (click)="openDialog(i)">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_forward</mat-icon>
                        </button>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>