<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign=" center" class="top-bar">
        <div fxFlex="50" fxLayout="row" fxLayoutAlign=" center" fxHide.lt-md>
            <div *ngIf="idFilial">
                <button mat-button (click)="return()">
                    <mat-icon aria-hidden="false">arrow_back</mat-icon>
                </button>
            </div>
            <div class="ingresos">
                Datos mostrados de la filial {{filial.nombre}}:
            </div>
            <div class="ingresos">
                Registros: 
                <br>
                {{transacciones.length}} 
            </div>
            <div class="ingresos">
                Ingresos: 
                <br>
                <span class="verde">{{ingresos}} $</span>
            </div>
            <div class="ingresos">
                Egresos: 
                <br>
                <span class="rojo">{{egresos}} $</span>
            </div>
        </div>
        <div fxFlex="50" fxLayoutAlign="end center">
            <button routerLink="nuevo" class="but-cargar-financiero" mat-button fxLayoutAlign="center center">
                Nueva Transaccion
            </button>
            <div fxLayoutAlign="center center">
                <label for="fileInput" class="btn-cargararchivo">Cargar transacciones</label>
                <input id="fileInput" type="file" accept=".csv" (change)="cargaMasiva($event.target.files)" style="display: none;">
            </div>
            <div fxHide.lt-md class="btn-dwn" >
                <a target="_blank" href="https://drive.google.com/file/d/17AWUXX1KVbJpJO108XpS5p14X6qLnFPs/view?usp=sharing">Descargar formato de carga</a>
            </div>
           
        </div>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex="25" fxFlex.md="30" fxFlex.lt-md="auto" fxLayout="column">
            <app-financiero-filtros (listaAMostrarEmitter)="crearIngresosYEgresos($event)"></app-financiero-filtros>
        </div>

        <div class="line" fxHide.lt-md></div>

        <div fxFlex="75" fxFlex.md="70" fxFlex.lt-md="auto" fxLayout="column" class="div-financiero">
            <div fxLayout="column">
                <app-financiero-listar [_transacciones]="transacciones"></app-financiero-listar>
            </div>
        </div>
    </div>
</div>