<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign=" center" class="top-bar">
        <div fxFlex="50" fxLayout="row" fxLayoutAlign=" center">
            <div class="ingresos">
                Datos mostrados:
            </div>
            <div class="ingresos">
                Registros: {{transacciones.length}} 
            </div>
            <div class="ingresos">
                Ingresos: <span class="verde">{{ingresos}} $</span>
            </div>
            <div class="ingresos">
                Egresos: <span class="rojo">{{egresos}} $</span>
            </div>
        </div>
        <div fxFlex="50" fxLayoutAlign="end center">
            <button routerLink="/financiero/nuevo" class="but-cargar-financiero" mat-button fxLayoutAlign="center center">
                Nueva Transaccion
            </button>
            <div fxLayoutAlign="center center">
                <label for="fileInput" class="btn-cargararchivo">Cargar transacciones</label>
                <input id="fileInput" type="file" accept=".csv" (change)="cargaMasiva($event.target.files)" style="display: none;">
            </div>
            <div>
                <a class="btn-dwn" href="https://drive.google.com/file/d/1R45QLLEwabX-cx8ZpR7qriCk8AIeA2qL/view?usp=sharing">Descargar formato de carga</a>
            </div>
            <!-- <button class="but-cargar-financiero" mat-button fxLayoutAlign="center center">
                Generar Reporte
            </button> -->
        </div>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex="20" fxFlex.md="30" fxFlex.lt-md="auto" fxLayout="column">
            <app-financiero-filtros (listaAMostrarEmitter)="crearIngresosYEgresos($event)"></app-financiero-filtros>
        </div>

        <div class="line" fxHide.lt-md></div>

        <div fxFlex="80" fxFlex.md="70" fxFlex.lt-md="auto" fxLayout="column" class="div-financiero">
            <div fxLayout="column">
                <app-financiero-listar [_transacciones]="transacciones"></app-financiero-listar>
            </div>
        </div>
    </div>
</div>