<div fxLayout="row">
    <div fxLayout="column" fxFlex="20">

        <a routerLink="/ajustes/nuevo-semestre">
            <div class="element" fxLayout="row" fxLayoutAlign="space-between center">
                Iniciar nuevo semestre
                <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_right</mat-icon>
            </div>
        </a>
        <a routerLink="/ajustes/consultar-asociacion">
            <div class="element" fxLayout="row" fxLayoutAlign="space-between center">
                Consultar asociacion anterior
                <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_right</mat-icon>
            </div>
        </a>
        <a routerLink="/ajustes/definir-aporte">
            <div class="element" fxLayout="row" fxLayoutAlign="space-between center">
                Definir aporte
                <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_right</mat-icon>
            </div>
        </a>
        <a routerLink="/ajustes/editar-autoridades">
            <div class="element" fxLayout="row" fxLayoutAlign="space-between center">
                Editar autoridades
                <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_right</mat-icon>
            </div>
        </a>
        <a routerLink="/ajustes/crear-permiso">
            <div class="element" fxLayout="row" fxLayoutAlign="space-between center">
                Crear Permiso
                <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_right</mat-icon>
            </div>
        </a>
    </div>

    <div class="line"></div>

    <div class="ro" fxFlex="80">
        <router-outlet></router-outlet>
    </div>
</div>