.block {
    width: 100%;
}
.linea {
    border-right: 1px solid #606060;
    height: 95vh;
}

@media (max-width: 960px) {
    .mostrado {
        display: auto;
    }

    .escondido {
        display: none;
    }
}

.list{
    width: 400px;
}