button, input {
    padding: 7px;
}

button {
    border: #0D288A solid 2px;
    background-color: #0D288A;
    color: white;
}

label {
    margin-bottom: 20px;
}

.label {
    font-size: 120%;
    margin: 10px 0;
}

.tit {
    font-size: 130%;
    font-weight: 500;
    margin: 30px 0 10px 0;
    color: #0D288A;
}