@import "../../../../assets/css/colors.scss";

.top-bar {
    padding: 10px 0;
    border-bottom: #606060 1px solid;
}

hr {
    background-color: yellowgreen;
}

.line {
    height: 94vh;
    border-right: 1px solid #606060;
}

.but-cargar-proveedor {
    background-color: $MainDarkColor;
    color: white;
    margin: 0 20px;
    width: 150px;
}

.btn-cargararchivo {
    background-color: $MainDarkColor;
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
    margin: 0;
    font-weight: 500;
    cursor: pointer;
}

.div-financiero {
    margin: 2% 7%;
}

.ingresos {
    font-size: 120%;
    font-weight: 500;
    color: $MainDarkColor;
    margin: 0 20px;
}

.verde {
    color: $GreenColor;
}

.rojo {
    color:$RedColor
}

.btn-dwn {
    margin: 8px;
    background-color: $MainDarkColor;
    padding: 9px 15px;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.registros-mostrados {
    padding-left: 20px;
    color: $MainDarkColor;
    font-weight: 500;
}