<div>
    <form (ngSubmit)="cargarPermiso()" fxLayout="column">
        <label class="label" for="email">Ingrese un email para consultar, asignar o revocar sus permisos:</label>
        <div>
            <input type="text" name="email" id="email" [(ngModel)]="email">
            <button>Cargar</button>
        </div>
    </form>
</div>

<div class="permisos" *ngIf="mostrarPermisos">
    <form (ngSubmit)="crearPermiso()">
        <div>
            <label for="estudiante">Módulo estudiantes:</label>
            <input type="checkbox" name="estudiante" id="estudiante" [(ngModel)]="modulos.Estudiantes">
        </div>
        <div>
            <label for="financiero">Módulo financiero:</label>
            <input type="checkbox" name="financiero" id="financiero" [(ngModel)]="modulos.Financiero">
        </div>
        <div>
            <label for="eventos">Módulo eventos:</label>
            <input type="checkbox" name="eventos" id="eventos" [(ngModel)]="modulos.Eventos">
        </div>
        <div>
            <label for="filiales">Módulo filiales:</label>
            <input type="checkbox" name="filiales" id="filiales" [(ngModel)]="modulos.Filiales">
        </div>
        <div>
            <label for="notificaciones">Módulo notificaciones:</label>
            <input type="checkbox" name="notificaciones" id="notificaciones" [(ngModel)]="modulos.Notificaciones">
        </div>
        <div>
            <label for="autoridades">Módulo autoridades:</label>
            <input type="checkbox" name="autoridades" id="autoridades" [(ngModel)]="modulos.Autoridades">
        </div>
        <div>
            <label for="recursos">Módulo recursos:</label>
            <input type="checkbox" name="recursos" id="recursos" [(ngModel)]="modulos.Recursos">
        </div>
        <div>
            <label for="elecciones">Módulo elecciones:</label>
            <input type="checkbox" name="elecciones" id="elecciones" [(ngModel)]="modulos.Elecciones">
        </div>
        <div>
            <label for="contratos">Módulo contratos:</label>
            <input type="checkbox" name="contratos" id="contratos" [(ngModel)]="modulos.Contratos">
        </div>
        <div>
            <label for="incidentes">Módulo incidentes:</label>
            <input type="checkbox" name="incidentes" id="incidentes" [(ngModel)]="modulos.Incidentes">
        </div>
        <div>
            <button type="submit">Cambiar permisos</button>
        </div>
    </form>
</div>