<p>productos-dialog-info works!</p>
<h1 mat-dialog-title>{{producto.id}} | {{producto.nombre}}</h1>
<div mat-dialog-content>

    <div fxLayout="row">
        <div fxFlex="50" class="dato">
            <div class="titulo">Id </div>
            <div class="dato">{{producto.id}}</div>
        </div>
        
        <div class="dato">
            <div class="titulo">Nombre </div>
            <div>{{producto.nombre}}</div>
        </div>
        
    </div>

    <div fxLayout="row">
        <div *ngIf="producto.categoria" fxFlex="50" class="dato">
            <div class="titulo">Categoria </div>
            <div>{{producto.categoria}}</div>
        </div>
        <div *ngIf="producto.precio" class="dato">
            <div class="titulo">Precio </div>
            <div>{{producto.precio}}</div>
        </div>
    </div>

    <div fxLayout="row">
        <div *ngIf="producto.idproveedor" fxFlex="50" class="dato">
            <div class="titulo">Proveedor </div>
            <div>{{producto.idproveedor}}</div>
        </div>

        <div *ngIf="producto.descripcion" class="dato">
            <div class="titulo">Descripcion </div>
            <div>{{producto.descripcion}}</div>
        </div>
    </div>

    <div *ngIf="producto.fotos" class="dato">
        <div class="titulo">Fotos </div>
        <div>{{producto.fotos}}</div>
    </div>
</div>
<hr>
<div mat-dialog-actions>
    
    <button class="button" [routerLink]="['/filiales/filial/'+filial.id+'/productos/actualizar', producto.id]" (click)="cerrarDialog()" mat-button>
        <mat-icon aria-hidden=" false" aria-label="Example home icon">edit</mat-icon>
    </button>
    <button class="button red" mat-button (click)="darDeBaja()">Baja</button>
    <button class="button red" mat-button (click)="eliminar()">Eliminar</button>
    
</div>
