.filters {
    padding: 25px;
}

.text {
    font-size: 120%;
    color: #0d288a;
    font-weight: 500;
}

.filtrosButton {
    border: none;
    color: #0d288a;
    background-color: white;
    margin: 1px;
    border-radius: 0;
    padding: 0 10px;
}

.selected {
    border: none;
    color: white;
    background-color: #0d288a;
    margin: 1px;
    border-radius: 0;
    padding: 0 10px;
}

.filtrosButton:focus, .selected:focus {
    outline: none;
}

.title {
    color: #0d288a;
    margin-top: 15px;
}

.search-space{
    margin: 15px 0;
    .button-search {
        background-color: #0d288a;
        color: white;
        height: 40px;
        border-radius: 0;
    }
    
    .input-search {
        height: 40px;
        width: 78%;
        padding-left: 15px;
        border: none;
    }
}
