<div class="filters">
    <div class="text">
        Registros mostrados: {{estudiantesMostrados.length}}
    </div>
    <hr>
    <div class="search-space">
        <h2 class="title">Búsqueda: </h2>
        <form (ngSubmit)="buscarPorNombre()" fxLayout="row">
            <input fxFlex="85" class="input-search" id="porNombreInput" name="porNombreInput" type="text" [(ngModel)]="porNombreInput" placeholder="Por nombre">
            <button fxFlex="15" class="button-search" mat-button>
                <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
            </button>
        </form>
    </div>
    <div class="search-space">
        <form (ngSubmit)="buscarPorCedula()" fxLayout="row">
            <input fxFlex="85" class="input-search" id="porCedulaInput" name="porCedulaInput" type="text" [(ngModel)]="porCedulaInput" placeholder="Por cédula">
            <button fxFlex="15" class="button-search" mat-button>
                <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
            </button>
        </form>
    </div>
    <hr>
    <div fxHide.lt-md>
        <h2 class="title">Filtros:</h2>
        <div>
            <h3 class="title">Por estado de la afiliación</h3>
            <button [ngClass]="{
                                    'filtrosButton': filtroAfiliado != 'true', 
                                    'selected': filtroAfiliado == 'true'
                                }" mat-button (click)="filtroAfiliadoFun('true')">Afiliado</button>
            <button [ngClass]="{
                                    'filtrosButton': filtroAfiliado  != 'false', 
                                    'selected': filtroAfiliado == 'false'
                                }" mat-button (click)="filtroAfiliadoFun('false')">No Afili</button>
            <button [ngClass]="{
                                    'filtrosButton': filtroAfiliado  != '', 
                                    'selected': filtroAfiliado == ''
                                }" mat-button (click)="filtroAfiliadoFun('')">Todos</button>
        </div>
        <div>
            <h3 class="title">Por Género</h3>
            <button [ngClass]="{
                                    'filtrosButton': filtroGenero != 'F', 
                                    'selected': filtroGenero == 'F'
                                }" mat-button (click)="filtroGeneroFun('F')">F</button>
            <button [ngClass]="{
                                    'filtrosButton': filtroGenero != 'M', 
                                    'selected': filtroGenero == 'M'
                                }" mat-button (click)="filtroGeneroFun('M')">M</button>
            <button [ngClass]="{
                                    'filtrosButton': filtroGenero != 'O', 
                                    'selected': filtroGenero == 'O'
                                }" mat-button (click)="filtroGeneroFun('O')">O</button>
            <button [ngClass]="{
                                    'filtrosButton': filtroGenero != '', 
                                    'selected': filtroGenero == ''
                                }" mat-button (click)="filtroGeneroFun('')">Todos</button>
        </div>
        <div>
            <h3 class="title">Por Carrera</h3>
            <button [ngClass]="{
                                    'filtrosButton': filtroCarrera != 'Sistemas', 
                                    'selected': filtroCarrera == 'Sistemas'
                                }" mat-button (click)="filtroCarreraFun('Sistemas')">Sistema</button>
            <button [ngClass]="{
                                    'filtrosButton': filtroCarrera != 'Computación', 
                                    'selected': filtroCarrera == 'Computación'
                                }" mat-button (click)="filtroCarreraFun('Computación')">Compu</button>
            <button [ngClass]="{
                                    'filtrosButton': filtroCarrera != 'Software', 
                                    'selected': filtroCarrera == 'Software'
                                }" mat-button (click)="filtroCarreraFun('Software')">Software</button>
            <button [ngClass]="{
                                    'filtrosButton': filtroCarrera != '', 
                                    'selected': filtroCarrera == ''
                                }" mat-button (click)="filtroCarreraFun('')">Todos</button>
        </div>
        <div>
            <h3 class="title">Por semestre</h3>
            <div>
                <button [ngClass]="{
                                    'filtrosButton': filtroSemestre != '1', 
                                    'selected': filtroSemestre == '1'
                                }" mat-button (click)="filtroSmestreFun('1')">1</button>
                <button [ngClass]="{
                                    'filtrosButton': filtroSemestre != '2', 
                                    'selected': filtroSemestre == '2'
                                }" mat-button (click)="filtroSmestreFun('2')">2</button>
                <button [ngClass]="{
                                    'filtrosButton': filtroSemestre != '3', 
                                    'selected': filtroSemestre == '3'
                                }" mat-button (click)="filtroSmestreFun('3')">3</button>
                <button [ngClass]="{
                                    'filtrosButton': filtroSemestre != '4', 
                                    'selected': filtroSemestre == '4'
                                }" mat-button (click)="filtroSmestreFun('4')">4</button>
            </div>
            <div>
                <button [ngClass]="{
                                    'filtrosButton': filtroSemestre != '5', 
                                    'selected': filtroSemestre == '5'
                                }" mat-button (click)="filtroSmestreFun('5')">5</button>
                <button [ngClass]="{
                                    'filtrosButton': filtroSemestre != '6', 
                                    'selected': filtroSemestre == '6'
                                }" mat-button (click)="filtroSmestreFun('6')">6</button>
                <button [ngClass]="{
                                    'filtrosButton': filtroSemestre != '7', 
                                    'selected': filtroSemestre == '7'
                                }" mat-button (click)="filtroSmestreFun('7')">7</button>
                <button [ngClass]="{
                                    'filtrosButton': filtroSemestre != '8', 
                                    'selected': filtroSemestre == '8'
                                }" mat-button (click)="filtroSmestreFun('8')">8</button>
            </div>
            <div>
                <button [ngClass]="{
                                    'filtrosButton': filtroSemestre != 'Egresado', 
                                    'selected': filtroSemestre == 'Egresado'
                                }" mat-button (click)="filtroSmestreFun('Egresado')">Egresad</button>
                <button [ngClass]="{
                                    'filtrosButton': filtroSemestre != 'Graduado', 
                                    'selected': filtroSemestre == 'Graduado'
                                }" mat-button (click)="filtroSmestreFun('Graduado')">Graduad</button>
                <button [ngClass]="{
                                    'filtrosButton': filtroSemestre != 'Retirado', 
                                    'selected': filtroSemestre == 'Retirado'
                                }" mat-button (click)="filtroSmestreFun('Retirado')">Retirad</button>
                <button [ngClass]="{
                                    'filtrosButton': filtroSemestre != '', 
                                    'selected': filtroSemestre == ''
                                }" mat-button (click)="filtroSmestreFun('')">Todos</button>
            </div>
        </div>
    </div>
    <hr fxHide.lt-md>
    <div fxHide.lt-md>
        <h2 class="title">Ordenar por:</h2>
        <!-- <div fxLayout="row"> -->
        <button mat-button [ngClass]="{
                                        'filtrosButton': tipoOrdenamiento != 'apellido', 
                                        'selected': tipoOrdenamiento == 'apellido'
                                    }" mat-button (click)="ordenar('apellido')">Apellido</button>
        <button mat-button [ngClass]="{
                                        'filtrosButton': tipoOrdenamiento != 'carrera', 
                                        'selected': tipoOrdenamiento == 'carrera'
                                    }" mat-button (click)="ordenar('carrera')">Carrera</button>
        <button mat-button [ngClass]="{
                                        'filtrosButton': tipoOrdenamiento != 'semestre', 
                                        'selected': tipoOrdenamiento == 'semestre'
                                    }" mat-button (click)="ordenar('semestre')">Semest</button>
        <!-- </div> -->
    </div>
</div>