.login {
    width: 100vw;
    height: 100vh;
}

.login-box {
    width: 350px;
    height: 450px;
    background-color: #4a71ff;
    color: white;
    text-align: center;
}

button {
    width: 300px;
    padding: 20px;
    background-color: #0d288a;
    border: none;
    border-radius: 10px;
    color: white;
}