.login {
    width: 100vw;
    height: 100vh;
}

.login-box {
    width: 360px;
    height: 260px;
    border: #0d288a 1px solid;
    color: #0d288a;
    text-align: center;
    border-radius: 20px;
}

button {
    width: 300px;
    padding: 20px;
    background-color: #0d288a;
    border: none;
    border-radius: 10px;
    color: white;
}