<div>
    <div *ngIf="autoridadMostrada != undefined">
        
        <div class="data">
            <h2 class="data-h2">Nombres:</h2>
            <div class="data-detalle">{{autoridadMostrada.Nombre}} {{autoridadMostrada.Apellido}}</div>
        </div>
        
        <div class="data">
            <h2 class="data-h2">No. Único:</h2>
            <div class="data-detalle">{{autoridadMostrada.NoUnico}}</div>
        </div>
        
        <div class="data">
            <h2 class="data-h2">Cédula:</h2>
            <div class="data-detalle">{{autoridadMostrada.id}}</div>
        </div>
        
        <div class="data">
            <h2 class="data-h2">Semestre Referencial:</h2>
            <div class="data-detalle">{{autoridadMostrada.SemestreReferencial}}</div>
        </div>
        
        <div class="data">
            <h2 class="data-h2">Carrera:</h2>
            <div class="data-detalle">{{autoridadMostrada.Carrera}}</div>
        </div>
        
        <div class="data">
            <h2 class="data-h2">Teléfono:</h2>
            <div class="data-detalle">{{autoridadMostrada.Telefono}}</div>
        </div>
        
        <div class="data">
            <h2 class="data-h2">Sector Domiciliario:</h2>
            <div class="data-detalle">{{autoridadMostrada.SectorDomiciliario}}</div>
        </div>
    </div>
</div>
