.tit {
    font-size: 140%;
    font-weight: 500;
    color: #0d288a;
}

.card {
    padding: 30px;
    margin-bottom: 30px;
}

.ly {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 110%;
}

.txt {
    font-weight: 300;
}

.delete {
    font-size: 140%;
    color: #0d288a;
}
