@import "../../../../assets/css/colors.scss";

.lista {
    margin: 50px auto 0 auto;
    width: 75%;
}

.delete {
    margin-top: 50px;
    text-align: right;
    button {
        background-color:$RedColor;
        color: white;
        border: none;
    }
}