@import "../../../../assets/css/colors.scss";

.filters {
    padding: 25px;
}

.text {
    font-size: 120%;
    color: $MainDarkColor;
    font-weight: 500;
}

.filtrosButton {
    border: none;
    color: $MainDarkColor;
    background-color: white;
    margin: 1px;
    border-radius: 0;
    padding: 0 10px;
    width: 70px;
}

.selected {
    border: none;
    color: white;
    background-color: $MainDarkColor;
    margin: 1px;
    border-radius: 0;
    padding: 0 10px;
    width: 70px;
}

.filtrosButton:focus, .selected:focus {
    outline: none;
}

.title {
    color: $MainDarkColor;
    margin-top: 15px;
}

.search-space{
    margin: 15px 0;
    width: 100%;
    form{
        width: 100%;
        .button-search {
            background-color: $MainDarkColor;
            color: white;
            height: 40px;
            border-radius: 0;
        }
        
        .input-search {
            height: 40px;
            padding-left: 15px;
            border: none;
        }
    }
}
