.label {
    font-size: 120%;
    color: #0d288a;
    margin: 30px 0 20px 0;
}

button {
    background-color: #0d288a;
    color: white;
    border: none;
    margin-top: 40px;
    margin-right: auto;
    padding: 10px;
}