<div fxLayout="row">
    <div class="block" fxFlex.gt-sm="20" [ngClass]="{'mostrado': autoridadMostrada == null, 'escondido': autoridadMostrada != null}">
        <app-lista-de-autoridades (autoridadSeleccionada)="autoridadMostrada=$event" [autoridades]="autoridades"></app-lista-de-autoridades>
    </div>

    <div class="linea" fxHide.lt-md></div>

    <div class="block" fxFlex.gt-sm="80" [ngClass]="{'mostrado': autoridadMostrada != null, 'escondido': autoridadMostrada == null}">
        <app-detalle-de-autoridades (autoridadSeleccionada)="autoridadMostrada=$event" [autoridadMostrada]="autoridadMostrada" ></app-detalle-de-autoridades>
    </div>
</div>