<!-- <div>
    <form (ngSubmit)="nuevaAsociacion()">
        <h3>Ingrese el año actual: </h3>
        <input type="text" [(ngModel)]='anio'>
    
        NoUnico:
        <input type="text" #NoUnico>
    
        Cargo:
        <input type="text" #Cargo>
    
        Nivel de Acceso:
        <input type="text" #NivelDeAcceso>
    
        Correo Institucional:
        <input type="text" #Correo>
    
        Correo Personal: 
        <input type="text" #Correo>
    
        Telefono:
        <input type="text" #Telefono>
    
        <button type="button" (click)="agregarElementoAlArray()">Otra Autoridad</button>
        <button>Cargar</button>
    </form>

</div> -->
