<div>
    <form (ngSubmit)="editar()">
        <div fxLayout="column">
            <label for="nombre">Nombre: </label>
            <input type="text" name="nombre" id="nombre" [(ngModel)]="notificacion.nombre">
        </div>
        <div fxLayout="column">
            <label for="descripcion">Descripción: </label>
            <input type="text" name="descripcion" id="descripcion" [(ngModel)]="notificacion.descripcion">
        </div>
        <div fxLayout="column">
            <label for="fecha">Fecha y hora: </label>
            <input type="datetime-local" name="fecha" id="fecha" [(ngModel)]="tiempo">
        </div>
        <div>
            <button type="submit">Editar</button>
            <button type="button" (click)="eliminar()">Eliminar</button>
        </div>
    </form>
</div>