<div>
    <form (ngSubmit)="nuevo()">
        <div>
            <label for="nombre">Título: </label>
            <input type="text" name="nombre" id="nombre" [(ngModel)]="incidente.nombre">
        </div>
        <div>
            <label for="descripcion">Descripción: </label>
            <input type="text" name="descripcion" id="descripcion" [(ngModel)]="incidente.descripcion">
        </div>
        <div>
            <label for="estudiante">No. único de estudiante: </label>
            <input type="text" name="estudiante" id="estudiante" [(ngModel)]="incidente.estudiante">
        </div>
        <div>
            <label for="evento">Evento: </label>
            <input type="text" name="evento" id="evento" [(ngModel)]="incidente.evento">
        </div>
        <div>
            <label for="fecha">Fecha: </label>
            <input type="date" name="fecha" id="fecha" [(ngModel)]="fecha">
        </div>
        <div>
            <button type="submit">Crear</button>
        </div>
    </form>
</div>