@import "../../../../assets/css/colors.scss";

.financiero-area {
    max-height: 90vh;
    .card {
        margin: 10px 0;
        mat-card {
            padding: 20px 40px;
            .nombre {
                font-size: 120%;
                font-weight: 500;
            }
            .button-add-icon {
                border: none;
                background-color: white;
                border-radius: 50px;
                padding: 0;
            }
            .button-add-icon:hover {
                background-color: #f6f6f6;
            }
            .button-add-icon:active {
                background-color: #adadad;
            }
            .a-afiliar:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

.add-circle-icon {
    margin-left: 5px;
}

.red {
    color: $RedColor;
}

.green {
    color: $GreenColor;
}