<div>
    <div class="form">
        <form (ngSubmit)="editar()">
            <div fxLayout="row" fxLayoutAlign="start center">
                <div>
                    <button class="retrun" mat-button (click)="return()">
                        <mat-icon aria-hidden="false" aria-label="arrow_back">arrow_back</mat-icon>
                    </button>
                </div>
                <div>
                    <label for="Cargo" class="tit">{{autoridad.Cargo}}</label>
                    <input type="text" id="Cargo" name="Cargo" disabled hidden [(ngModel)]="autoridad.Cargo">
                </div>
            </div>
            
            <div fxLayout="column">
                <label for="NoUnico" class="label">Número único:</label>
                <input type="text" id="NoUnico" name="NoUnico" [(ngModel)]="autoridad.NoUnico">
            </div>
            <div fxLayout="column">
                <label class="label" for="CorreoInstitucional">Correo Institucional:</label>
                <input type="text" id="CorreoInstitucional" name="CorreoInstitucional" [(ngModel)]="autoridad.CorreoInstitucional">
            </div>
            <div fxLayout="column">
                <label class="label" for="Nombre">Nombre:</label>
                <input type="text" id="Nombre" name="Nombre" [(ngModel)]="autoridad.Nombre">
            </div>
            <div fxLayout="column">
                <label class="label" for="Telefono">Teléfono:</label>
                <input type="text" id="Telefono" name="Telefono" [(ngModel)]="autoridad.Telefono">
            </div>
            <div fxLayout="column">
                <label class="label" for="CorreoPersonal">Correo Personal:</label>
                <input type="text" id="CorreoPersonal" name="CorreoPersonal" [(ngModel)]="autoridad.CorreoPersonal">
            </div>
            <div fxLayout="column">
                <label class="label" for="Cedula">Cedula:</label>
                <input type="text" id="Cedula" name="Cedula" [(ngModel)]="autoridad.Cedula">
            </div>
            
            <div>
                <button mat-button type="submit">
                    Editar
                    <mat-icon aria-hidden="false" aria-label="Edit">edit</mat-icon>
                </button>
            </div>
        </form>
    </div>
</div>
<div class="tit">
    Permisos de acceso a modulos:
</div>
<div *ngIf="autoridadCargo === 'Presidente'">
    El presidente tiene acceso a todos los módulos por defecto
</div>
<div *ngIf="autoridadCargo !== 'Presidente'">
    <form fxLayout="column" (ngSubmit)="cambiarPermisos()">
        <h2>Módulo estudiantes: </h2>
        <div>
            <label for="estudiante">Ver módulo:</label>
            <input type="checkbox" name="estudiante" id="estudiante" [(ngModel)]="modulos.Estudiantes">
        </div>
        <div>
            <label for="estudiante">Cargar estudiantes:</label>
            <input type="checkbox" name="estudiante" id="estudiante" [(ngModel)]="modulos.Estudiantes_new">
        </div>
        <div>
            <label for="estudiante">Actualizar estudiante y afiliar:</label>
            <input type="checkbox" name="estudiante" id="estudiante" [(ngModel)]="modulos.Estudiantes_edit">
        </div>
        <div>
            <label for="estudiante">Dar de baja y graduar:</label>
            <input type="checkbox" name="estudiante" id="estudiante" [(ngModel)]="modulos.Estudiantes_delete">
        </div>
        <h2>Módulo financiero: </h2>
        <div>
            <label for="financiero">Ver módulo: </label>
            <input type="checkbox" name="financiero" id="financiero" [(ngModel)]="modulos.Financiero">
        </div>
        <div>
            <label for="financiero">Crear o cargar transacción: </label>
            <input type="checkbox" name="financiero" id="financiero" [(ngModel)]="modulos.Financiero_new">
        </div>
        <div>
            <label for="financiero">Dar de baja: </label>
            <input type="checkbox" name="financiero" id="financiero" [(ngModel)]="modulos.Financiero_delete">
        </div>
        <h2>Módulo eventos: </h2>
        <div>
            <label for="eventos">Ver módulo:</label>
            <input type="checkbox" name="eventos" id="eventos" [(ngModel)]="modulos.Eventos">
        </div>
        <div>
            <label for="eventos">Crear evento:</label>
            <input type="checkbox" name="eventos" id="eventos" [(ngModel)]="modulos.Eventos_new">
        </div>
        <div>
            <label for="eventos">Actualizar evento:</label>
            <input type="checkbox" name="eventos" id="eventos" [(ngModel)]="modulos.Eventos_edit">
        </div>
        <div>
            <label for="eventos">Elimnar evento:</label>
            <input type="checkbox" name="eventos" id="eventos" [(ngModel)]="modulos.Eventos_delete">
        </div>
        <h2>Módulo filiales: </h2>
        <div>
            <label for="filiales">Ver módulo:</label>
            <input type="checkbox" name="filiales" id="filiales" [(ngModel)]="modulos.Filiales">
        </div>
        <h2>Módulo autoridades: </h2>
        <div>
            <label for="autoridades">Ver módulo:</label>
            <input type="checkbox" name="autoridades" id="autoridades" [(ngModel)]="modulos.Autoridades">
        </div>
        <h2>Módulo recursos: </h2>
        <div>
            <label for="recursos">Ver módulo:</label>
            <input type="checkbox" name="recursos" id="recursos" [(ngModel)]="modulos.Recursos">
        </div>
        <h2>Módulo elecciones: </h2>
        <div>
            <label for="elecciones">Ver módulo: </label>
            <input type="checkbox" name="elecciones" id="elecciones" [(ngModel)]="modulos.Elecciones">
        </div>
        <div>
            <label for="elecciones">Crear elección, lista y candidatos:</label>
            <input type="checkbox" name="elecciones" id="elecciones" [(ngModel)]="modulos.Elecciones_new">
        </div>
        <div>
            <label for="elecciones">Eliminar elección:</label>
            <input type="checkbox" name="elecciones" id="elecciones" [(ngModel)]="modulos.Elecciones_delete">
        </div>
        <div>
            <label for="elecciones">Editar elección (listas y candidatos):</label>
            <input type="checkbox" name="elecciones" id="elecciones" [(ngModel)]="modulos.Elecciones_edit">
        </div>
        <div>
            <label for="contratos">Establecer lista ganadora (cambia autoridades del sistema):</label>
            <input type="checkbox" name="contratos" id="contratos" [(ngModel)]="modulos.Autoridades_new">
        </div>
        <h2>Módulo contratos: </h2>
        <div>
            <label for="incidentes">Ver módulo: </label>
            <input type="checkbox" name="incidentes" id="incidentes" [(ngModel)]="modulos.Incidentes">
        </div>
        <div>
            <label for="incidentes">Crear contrato: </label>
            <input type="checkbox" name="incidentes" id="incidentes" [(ngModel)]="modulos.Incidentes_new">
        </div>
        <div>
            <label for="incidentes">Editar contrato: </label>
            <input type="checkbox" name="incidentes" id="incidentes" [(ngModel)]="modulos.Incidentes_edit">
        </div>
        <div>
            <label for="incidentes">Eliminar contrato: </label>
            <input type="checkbox" name="incidentes" id="incidentes" [(ngModel)]="modulos.Incidentes_delete">
        </div>
        <h2>Módulo incidentes: </h2>
        <div>
            <label for="incidentes">Ver módulo: </label>
            <input type="checkbox" name="incidentes" id="incidentes" [(ngModel)]="modulos.Incidentes">
        </div>
        <div>
            <label for="incidentes">Crear incidente:</label>
            <input type="checkbox" name="incidentes" id="incidentes" [(ngModel)]="modulos.Incidentes_new">
        </div>
        <div>
            <label for="incidentes">Eliminar incidente:</label>
            <input type="checkbox" name="incidentes" id="incidentes" [(ngModel)]="modulos.Incidentes_delete">
        </div>
        <div>
            <button type="submit">Cambiar permisos</button>
        </div>
        <div>
            <button mat-button type="submit">Cambiar permisos</button>
        </div>
    </form>
</div>