<div fxLayout="column">
    <div fxFlex="10" fxLayout="row" fxLayoutAlign="space-between center" class="top-bar" fxHide.lt-md>
        <div class="registros-mostrados" fxLayout="row" fxLayoutAlign=" center">
            <div *ngIf="idFilial">
                <button mat-button (click)="return()">
                    <mat-icon aria-hidden="false">arrow_back</mat-icon>
                </button>
            </div>
            Registros mostrados en {{filial.nombre}}: {{productos.length}}
        </div>

        <div fxFlex="50" fxLayoutAlign="end center">
            <button routerLink="/filiales/filial/{{idFilial}}/productos/nuevo" class="but-cargar-producto" mat-button
                fxLayoutAlign="center center">
                Nuevo Producto
            </button>
            <div fxLayoutAlign="center center">
                <label for="fileInput" class="btn-cargararchivo">Cargar Productos</label>
                <input id="fileInput" type="file" accept=".csv" (change)="cargaMasiva($event.target.files)"
                    style="display: none;">
            </div>
            <div fxHide.lt-md>
                <a class="btn-dwn"
                    target="_blank"
                    href="https://drive.google.com/file/d/1LxqfxtdVvE8qmHnDx5OfSweszEnTMC5N/view?usp=sharing">Descargar
                    formato de carga</a>
            </div>

        </div>
    </div>
    <div fxFlex="90" fxFlex.lt-md="100" fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex="25" fxFlex.md="30" fxFlex.lt-md="auto" fxLayout="row">
            <app-productos-filtros (mostrarProductos)="refrescar($event)"></app-productos-filtros>
        </div>

        <div class="line" fxHide.lt-md></div>

        <div fxFlex="75" fxFlex.md="70" fxFlex.lt-md="auto" fxLayout="column" class="div-productos">
            <div fxLayout="column">
                <app-productos-listar [_productos]="productos"></app-productos-listar>
            </div>
        </div>
    </div>
</div>